.app {
  width: 100%;
  max-width: 540px;
  margin: 50px auto;
  background-color: #ff933a;
  border-radius: 20px;
}

.contents {
  background-color: #fff;
  padding: 40px 30px;
  border-radius: 0 0 20px 20px;
  height: 70vh;
}

.title {
  text-align: center;
  color: #fff;
  font-size: 32px;
  padding: 30px 0 20px;
}

.list-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.input-wrap {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.input-add {
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  background-color: #f5f3f1;
  font-size: 16px;
  outline: none;
  flex: 1;
  box-shadow: inset 0 0 0 1px #ccc;
  transition: 0.3s all ease;
}

.input-add:focus {
  box-shadow: inset 0 0 0 2px #ccc;
  background: #fff;
}

.btn {
  padding: 12px 20px;
  background-color: #ff933a;
  border: none;
  color: #ffffff;
  font-weight: 600;
  border-radius: 5px;
  transition: 0.3s all ease;
}

.btn:hover {
  background: #f37610;
}

.todo-list li {
  background: #f5f3f1;
  padding: 15px 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  transition: 0.3s all ease;
}

.todo-list li:hover {
  background-color: #ffe4ce;
  border: 1px solid #cfbaa4;
}

.empty-list {
  text-align: center;
  color: #707070;
  font-size: 18px;
  padding: 20px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li span {
  display: flex;
  gap: 10px;
}

.delete-btn {
  border: none;
  background: none;
  padding: 8px 10px;
}

.todo-list li:has(input:checked) {
  background-color: #c2c5be;
}

.filter-wrap {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-btn {
  padding: 8px 14px;
  border-radius: 50px;
  border: none;
}

.filter-btn:hover {
  background-color: #ffcfa8;
}

.filter-btn.active {
  background-color: #ff7e14;
  color: #fff;
  font-weight: 600;
}


.cancel-btn,
.edit-btn {
  border: none;
  background-color: #cccccc;
  padding: 5px 12px;
  border-radius: 50px;
}

.save-btn {
  border: none;
  background-color: #ff9a48;
  padding: 5px 12px;
  border-radius: 50px;
}

.edit-input {
  width: 100%;
  max-width: 300px;
  outline: none;
  border: 1px solid #ccc;
}

.edit-view {
  display: flex;
  gap: 8px;
  align-items: center;
}