* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  min-height: 100vh;
  background-color: beige;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}